{{ 'section-cards.css' | asset_url | stylesheet_tag }}

<section class="container max-w-screen-2xl mx-auto px-4 md:px-12 lg:grid gap-3 cols-grid-{{ section.settings.cards_desktop }}">
  {%- for block in section.blocks -%}
    <div class="w-full mb-12 mt-12 sm:w-1/2">
      {% capture background_color %}
        {{ block.settings.background }}{% endcapture %}
      <div class="flex flex-col m-auto mb-20 relative p-3 my-1 px-1 content-card items-center h-[433px]" style="background-color: {{ background_color }};">
        <div class="flex flex-col absolute left-3 right-3 top-3">
          <img class="h-[224px]" src="{{ block.settings.image | img_url: '1200x1200'}}" />
        </div>
        <div id="card-text" class="flex-col flex items-center  top-[260px] absolute translate-x[-50%] gap-2 text-black w-10/12">
          <div class="text-3xl font-GTlight">
            {{ block.settings.heading | escape }}
          </div>
          <div class="flex-col items-center gap-4 text-center text-sm">
            <div>{{ block.settings.content_text }}</div>
          </div>
          <div class="flex-col items-center font-PT-r tracking-widest mt-3 font-medium gap-4 text-center text-sm uppercase">
            <div>
              <a href="{{ block.settings.link }}">{{ block.settings.link_text | escape }}</a>
            </div>
            <div class="card-bottom border-black border-b border-solid"></div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Content Cards",
    "tag": "section",
    "class": "section",
    "max_blocks": 4,
    "settings": [
      {
        "type": "range",
        "id": "cards_desktop",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 4,
        "label": "Desktop Cards"
      }
    ],
    "blocks": [
      {
        "type": "card_block",
        "name": "Card Block",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Card Image"
          },
          {
            "id": "heading",
            "type": "text",
            "label": "Card Heading",
            "default": "Card Title"
          },
          {
            "id": "content_text",
            "type": "text",
            "label": "Content Text",
            "default": "Write something that can cultivate your clients interest about your brand."
          },
          {
            "id": "background",
            "type": "color",
            "label": "Card Color",
            "default": "#cccccc"
          }, {
            "id": "link_text",
            "type": "text",
            "label": "Text",
            "default": "SHOP"
          }, {
            "id": "link",
            "type": "url",
            "label": "Text URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Cards",
        "blocks": [
          {
            "type": "card_block"
          }, {
            "type": "card_block"
          }
        ]
      }
    ]
  }
{% endschema %}