{{ 'product-slider.css' | asset_url | stylesheet_tag }}

<section class="featured-product-slider m-auto flickity-width">
  {%- for block in section.blocks -%}
    <div class="carousel">
      <div class="mb-12 mt-12 carousel-cell">
        <div class="product-card flex flex-col m-auto mb-20 relative my-1 content-card items-center h-[385px] w-[418px] bg-white">
          <a href="#" onclick="">
            {% assign product = all_products[block.settings.product_item] %}
            {% if product.featured_image != blank %}
              <img class="h-[313px]" src="{{ product.featured_image | image_url: width: 1500 }}" />
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder placeholder-img' }}
            {% endif %}
          </div>
          <div id="card-text" class="flex-row justify-between flex items-center bottom-4 absolute translate-x[-50%] gap-2 text-black w-10/12">
            <div class="text-3xl font-GTlight">
              {% if product.title != blank %}
                {{ product.title | strip }}
              {% else %}
                <span>Title</span>
              {% endif %}
            </div>
            <div class="flex-col items-center font-PT-r tracking-widest mt-3 font-medium gap-4 text-center text-sm uppercase">
              <div>
                {% if product.price != blank %}
                  {{ product.price | money_without_trailing_zeros }}
                {% else %}
                  <span>$20</span>
                {% endif %}

              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

<script>
  var elem = document.querySelector('.featured-product-slider');
  var flkty = new Flickity(elem, {
    contain: true,
    imagesLoaded: true,
    wrapAround: true,
    pageDots: false,
    cellAlign: 'center',
    freeScroll: true
  });

  $(document).ready(function () {
    $(document).on('click','.product-card',function(){
        var quantity = $(".quantity option:selected").val();
        quantity = parseInt(quantity);
        var id="15426278195309";
        $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            dataType: 'json',
            data: {id:id},
            success: function(){
                location.href="/cart";
            }
        });
    })
});    


</script>
{% schema %}
  {
    "name": "Featured Product Slider",
    "tag": "section",
    "class": "section",
    "max_blocks": 6,
    "settings": [
      {
        "type": "range",
        "id": "cards_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 6,
        "label": "Desktop Cards"
      }
    ],
    "blocks": [
      {
        "type": "card_block",
        "name": "Card Block",
        "settings": [
          {
            "id": "product_item",
            "type": "product",
            "label": "Choose the Product you want displayed"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Product Slider",
        "blocks": [
          {
            "type": "card_block"
          }, {
            "type": "card_block"
          }
        ]
      }
    ]
  }
{% endschema %}